{% extends "layout.html" %}
{% block content %}

	<!--
		Head
	-->

	<div class="jumbotron">
		<h1>Lazy Snake</h1>
		<p class="lead text-muted">A web based, easy to use and nice looking python profiler. You can post your cProfile results via url, file or terminal client. Try out live <a href="/demo" title="Live demo">demo</a> to see what Lazy Snake provides to you.</p>
	</div>

	<div class="row">
		<div class="col-md-4">
			<h2><i class="fa fa-github text-muted"></i> Open Source</h2>
			<p>It means you can get the whole the source code and do pretty much everything with it. Read it, rewrite it, share it. Everybody loves Open Source.</p>
		</div>
		<div class="col-md-4">
			<h2><i class="fa fa-heart-o text-muted"></i> Python</h2>
			<p>For Python written in Python. This essentially means, that if you want to use it, you would probably understand it's code. Hack it, patches are welcome.</p>
		</div>
		<div class="col-md-4">
			<h2><i class="fa fa-cloud-download text-muted"></i> Run your own</h2>
			<p>Don't wanna post your profiling results somewhere on the internet? Just run your own Snake's instance locally. Its a matter of few simple commands.</p>
		</div>
	</div>

	<hr>


	<!--
		Input form
	-->

	<h2 id="post">Post you result</h2>

	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<div class="alert alert-danger" role="alert">
				<i class="fa fa-exclamation-circle"></i>
				{{ messages[0] }}
			</div>
		{% endif %}
	{% endwith %}

	<div class="row">
		<div class="col-md-6">
			<h4>Upload the file</h4>
			<form action="" method="post" enctype="multipart/form-data">
				<div class="input-group">
					<input type="file" name="result" class="form-control">
					<span class="input-group-btn">
						<input name="post_file" type="submit" value="post" class="btn btn-default">
					</span>
				</div>
			</form>
		</div>

		<div class="col-md-6">
			<h4>Post URL to your result</h4>
			<form action="" method="post">
				<div class="input-group">
					<input type="text" name="url" class="form-control">
					<span class="input-group-btn">
						<input name="post_url" type="submit" value="post" class="btn btn-default">
					</span>
				</div>
			</form>
		</div>
	</div>

	<br>
	<p>Please <b>do not</b> paste binary files, but just the stdout from <code>python -m cProfile path/to/some/script.py</code>. When you are posting results via URL, please insert the URL to RAW file, not to some preview. Please see some examples:</p>

<pre class="prettyprint"># Save result to file
python -m cProfile script.py &gt; result.txt

# Push result to bpaste.net
python -m cProfile script.py |wgetpaste</pre>

	<hr>


	<!--
		Terminal client
	-->

	<h3>Terminal client</h3>
	<p>For frequent use, uploading profiler results manully, can be quite inconvenient. Its where terminal client comes handy. Easy to install, easy to use.</p>

<pre class="prettyprint"># First you should install dependencies
sudo dnf install python-requests

# Install
sudo wget -P /usr/local/bin/ https://raw.githubusercontent.com/FrostyX/lazy-snake/master/cli/lazy-snake
sudo chmod +x /usr/local/bin/lazy-snake

# Usage
lazy-snake path/to/some/script.py</pre>

	<p>The <code>lazy-snake</code> command will profile your script via cProfile, send it to the server and provides you link to your result.</p>

	<hr>


	<!--
		Own server
	-->

	<h3>Own server</h3>
	<p>As mentioned above, please feel free to run your own instance of Lazy Snake on your computer.</p>

<pre class="prettyprint"># First you should install dependencies
sudo dnf install python-flask

# Install
git clone https://github.com/FrostyX/lazy-snake.git
sudo ln -s $(pwd)/lazy-snake/server/main.py /usr/local/bin/lazy-snake-server

# Run
lazy-snake-server

# Tell client to use your server (optional)
mkdir ~/.config/lazy-snake
echo "URL = http://127.0.0.1:5000/" > ~/.config/lazy-snake/client</pre>


{% endblock %}
