{% extends "layout.html" %}
{% block content %}
    <h1>Lazy Snake</h1>

	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					{% for param in parameters %}
						<th><a href="/{{ param['name'] }}" title="{{ param['description'] }}">{{ param["label"] if "label" in param else param["name"] }}</a></th>
					{% endfor %}
				</tr>
			</thead>
			<tbody>
				{% for stat in stats|sort(attribute=sort, reverse=direction) %}
				<tr>
					{% for param in parameters %}
					<td>{{ stat[param["name"]] }}</td>
					{% endfor %}
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

{% endblock %}