{% extends "layout.html" %}
{% block content %}
    <h1>Lazy Snake</h1>

	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th><a href="/ncalls" title="the number of calls">ncalls</a></th>
					<th><a href="/tottime" title="the total time spent in the given function (and excluding time made in calls to sub-functions)">tottime</a></th>
					<th><a href="/tottime_percall" title="the quotient of tottime divided by ncalls">percall</a></th>
					<th><a href="/cumtime" title="is the cumulative time spent in this and all subfunctions (from invocation till exit). This figure is accurate even for recursive functions.">cumtime</a></th>
					<th><a href="/cumtime_percall" title="is the quotient of cumtime divided by primitive calls">percall</a></th>
					<th><a href="/filename" title="filename">filename</a></th>
					<th><a href="/line" title="line number">line</a></th>
					<th><a href="/function" title="function">function</a></th>
				</tr>
			</thead>
			<tbody>
				{% for stat in stats|sort(attribute=sort, reverse=direction) %}
				<tr>
					<td>{{ stat.ncalls }}</td>
					<td>{{ stat.tottime }}</td>
					<td>{{ stat.tottime_percall }}</td>
					<td>{{ stat.cumtime }}</td>
					<td>{{ stat.cumtime_percall }}</td>
					<td>{{ stat.filename }}</td>
					<td>{{ stat.line }}</td>
					<td>{{ stat.function }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

{% endblock %}