{% extends "layout.html" %}
{% block content %}

	<div class="btn-group navbar-right">
		<a href="/#post" class="btn btn-default"><i class="fa fa-plus-square-o"></i> New</a>
		{% if controller != "demo" %}
			<a href="/delete/{{ name }}" class="btn btn-default"><i class="fa fa-trash-o"></i> Delete</a>
		{% endif %}
	</div>

	<h1>Lazy Snake</h1>

	{% macro chart(name, title, stats, sort) -%}
		<script type="text/javascript">
		$(function () {
			$('#{{ name }}').highcharts({
				chart: {type: 'bar'},
				title: {text: '{{ title }}'},
				credits: {enabled: false},
				xAxis: {categories: []},
				plotOptions: {bar: {dataLabels: {enabled: true}}, series: {show: ""}},
				series: [{
					name: "{{ name }}",
					data: [
						{% set ordered = stats|sort(attribute=sort, reverse=True) %}
						{% for stat in ordered[:4] %}
						['{{ stat["function"] }} ', {{ stat[sort]}}],
						{% endfor %}
					]
				}]
			});
		});
		</script>
		<div id="{{ name }}" style="width: 330px; height: 250px"></div>
	{%- endmacro %}

	<div class="container">
		<div class="row">
			<div class="col-md-5 pull-left">
				{{ chart("chart-ncalls", "ncalls", stats, "ncalls") }}
			</div>
			<div class="col-md-5 pull-right">
				{{ chart("chart-tottime", "tottime", stats, "tottime") }}
			</div>
		</div>
	</div>


	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					{% for param in parameters %}
						<th>
							{% set getattr = getattr %}
							{% set order = "desc" if (param["name"] == sort and not direction) else "" %}
							<a href="/{{ controller }}/{{ param['name'] }}/{{ order }}" title="{{ param['description'] }}">
								{{ param["label"] if "label" in param else param["name"] }}
							</a>
							{% if param["name"] == sort %}
								<i class="fa fa-caret-{{ 'down' if direction else 'up' }} text-muted"></i>
							{% endif %}
						</th>
					{% endfor %}
				</tr>
			</thead>
			<tbody>
				{% for stat in stats|sort(attribute=sort, reverse=direction) %}
				<tr>
					{% for param in parameters %}
					<td>{{ stat[param["name"]] }}</td>
					{% endfor %}
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

{% endblock %}
